{
    "http_header": {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
        "Referer": "https://www.bilibili.com/",
        "Connection": "keep-alive"
    },
    "default_vote": {
        "mode": 1,
        "vote": [0, 1],
        "once": true
    },
    "users": [
        {
            "cookieDatas": {
                "SESSDATA": "fda4a8f0%2C1711794738%2Cb39…lwSVkdWM1hSQmpZR0R2TVNsMWdtNkZkSjRxWHdjbXhETEM4OHYzaGRHVk83YTZFVEtaRndsX2F3VlhvMXNxczMxREwwU0JtRklaYU1xLWd6OGVZT3VwaFdBIIEC",
                "bili_jct": "ea8dc523a819a32141a6a1f4391d42e0",
                "DedeUserID": "33839876"
            }
        }
    ],
    "push": {
        "enable": false,
        "msgtpye": ["CookieExpires", "UnknownError", "DailyMissions"],
        "wxpush": {
            "enable": false,
            "corpid": "xxxxx",
            "secret": "xxxxx",
            "agentid": 1000001,
            "touser": "@all"
        },
        "tgpush": {
            "enable": false,
            "bot_token": "xxxxx:xxxxx",
            "chat_id": "-100xxxxx"
        },
        "server": {
            "enable": false,
            "sendkey": "xxxxx"
        },
        "ijingniu": {
            "enable": false,
            "channelkey": "xxxxx"
        },
        "pushplus":{
            "enable": ture,
            "token": "3f13962cf1964191bb95ead9cd384fde"
        }
    }
}
